h4{
    font-size: 24px;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom:2rem;
}
form>.form-control{
    margin-bottom: 1.5rem;
    background: #fff;
    border-radius: 15px;
    color:rgba(0, 0, 0, 0.32);
    width:45%;
    font-size: 24px;
    font-weight: 700;
    border-color: #000;
    box-sizing: border-box;
}
.btn-add.wide{
    width: 45%;
}